html {
    background-color: #EAE5DF;
}

h1 {
    font-family: 'Shrikhand', cursive, serif;
    color: #01989E;
    font-size: 35pt;
    padding-left: 200px;
}
#myUxTools {

}

.mySkills {
    display: flex;
    flex-direction: column;
    background-color: #F6C8C9;
}

.skillsGrid {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 300px;
    overflow: hidden;
    
  }
  
  li {
    float: left;
    padding-right: 7px;
    padding-bottom: 30px;
    font-family: 'Aleo', sans-serif;
    color: #01989E;
  }

#mySkillsPic {
    max-width: 700px;
    margin-bottom: 30px;
    margin-top: -30px;
    padding-bottom: 8px;
    border: 5px solid #E73D2C;
}

#caseStudy1 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "kitten" "case1";
    grid-gap: 30px;
    background-color: #F6C8C9;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
    text-align: center;
}

#kitten {
    max-height: 300px;
    grid-area: "kitten";
    margin-left: 70px;
    margin-top: 30px;
    box-shadow: 1px 1px 5px #e73d2c;
}

#case1 {
    grid-area: "case1";
    padding-top: 75px;
    justify-self: center;
    font-family: 'Shrikhand', cursive, serif;
    font-size: 16pt;
    letter-spacing: 1px;
    color: #01989E;
}

#caseStudy2 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: 
    "case2" "coffee";
    grid-gap: 30px;
    background-color: #F6C8C9;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
    text-align: center;
}

#case2 {
    grid-area: "case2";
    padding-top: 75px;
    text-align: center;
    font-family: 'Shrikhand', cursive, serif;
    font-size: 16pt;
    letter-spacing: 1px;
    color: #01989E;
}

#coffee {
    max-height: 300px;
    grid-area: "coffee";
    margin-right: 70px;
    margin-top: 30px;
    box-shadow: 1px 1px 5px #e73d2c;
}

#caseStudy3 {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "van" "case3";
    grid-gap: 30px;
    background-color: #F6C8C9;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
    text-align: center;
}

#van {
    max-height: 300px;
    grid-area: "van";
    margin-left: 70px;
    margin-top: 30px;
    box-shadow: 1px 1px 5px #e73d2c;
}

#case3 {
    grid-area: "case3";
    padding-top: 75px;
    text-align: center;
    font-family: 'Shrikhand', cursive, serif;
    font-size: 16pt;
    letter-spacing: 1px;
    color: #01989E;
}

.viewProject {
    background-color: #EAE5DF;
    border: 2px solid #EAE5DF;
    font-family: 'Aleo', sans-serif;
    color: #01989E;
    font-weight: bold;
    font-size: 13pt;
    height: 30px;
    width: 150px;
    box-shadow: 1px 1px 5px lightseagreen;
    transition-duration: 0.2s;
}

.viewProject:hover {
    background-color: #01989E;
    border: 2px solid #01989E;
    color: #EAE5DF;
}

@media {

}